node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

data/plant_lists/usace_xls/
data/datapoints.json
data/projects.json
issues.txt

eas.json

# macOS
.DS_Store
