node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

data/plant_lists/usace_xls/
data/datapoints.json
data/projects.json
issues.txt
assets/adaptive-icon.png
assets/favicon.png
assets/icon.png
assets/splash.png

# macOS
.DS_Store
